.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 24px * 3) / 4);
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;

  background-color: #f4f4fd;

  margin-bottom: 8px;
}
